:root {
    --dark: #FA8128;
    --light: #FCAe1e;
    --semilight: #F8D568;
    --purple: #330072;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*footer*/

.footer {
    background-color: black;
    color: white;
}

.footer-area {
    width: 90%;
    margin: auto;
    padding: 2% 2%;
}

.footer-area-quicklinks a {
    text-decoration: none;
    color: white;
}

.footer-links {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.footer-address p {
    line-height: 40px;
}

.quicklink-heading h1 {
    display: inline-block;
    line-height: 40px;
}

.quicklink-heading h1:after {
    content: '.';
    color: transparent;
    background-color: var(--light);
    height: 3px;
    width: 100%;
    margin: auto;
    display: block;
    transition: 0.5s;
}

.copyright {
    margin-top: 8%;
    padding: 3% 3%;
    text-align: center;
}


/*fonts size of footer*/

.footer h1 {
    font-size: 18px;
}

.footer p {
    font-size: 14px;
}

.footer a {
    font-size: 14px;
}

.footer-links span {
    font-size: 18px;
    font-weight: 500;
}


/*navigation bar*/

.navbar {
    padding: 2% 2%;
    background-color: var(--light);
    overflow: hidden;
}

.nav-area {
    display: grid;
    grid-template-columns: 1fr 4fr 8fr 0fr;
}

.nav-links {
    margin-top: -3%;
    text-align: center;
}

.nav-links ul li {
    display: inline-block;
    padding-right: 2%;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
}

.nav-links ul li a::after {
    content: '';
    height: 3px;
    background-color: var(--purple);
    width: 0%;
    margin: auto;
    display: block;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.toggleopen {
    display: none;
    cursor: pointer;
}

.toggleclose {
    display: none;
    cursor: pointer;
}


/*All media queries statements here*/

@media (max-width:700px) {
    /*footer*/
    .footer-address p {
        font-size: 11px;
        line-height: 30px;
    }
    .copyright p {
        font-size: 11px;
    }
    /*navbar*/
    .nav-area {
        grid-template-columns: 1fr 5fr 0fr 0.1fr;
    }
    .nav-links {
        padding: 4% 4%;
        display: block;
        text-align: left;
        background-color: var(--semilight);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        line-height: 50px;
    }
    .nav-links ul li {
        display: block;
    }
    .toggleopen {
        display: block;
        float: left;
        font-size: 24px;
    }
    .toggleclose {
        display: block;
        float: right;
        font-size: 24px;
    }
    /*toggle entity*/
    #togglemenu {
        display: none;
        transition: 1s;
    }
}