*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.dep1,.dep2,
.depa1,.depa2,.depa3,.depa4,.depa5{
    position: relative; 
    height: clamp(10rem,7rem,16rem);
    width:  clamp(20rem,15rem,30rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 2rem 2rem 0 2rem ;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.8);
}


.dep1::before,.dep2::before,
.depa1::before,.depa2::before,.depa3::before,
.depa4::before,.depa5::before{    
    content: "";
    background-image: url('cs.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    border-radius: 10px;
    display: flex;
}
.dep2::before{
    background-image: url('math.jpg');
}   
/* Arts Depa*/
.depa1:before{
    background-image: url('economics.jpg');
}
.depa2::before{
    background-image: url('bba.jpg');
}
.depa3::before{
    background-image: url('tamil.jpg');
}  
.depa4::before{
    background-image: url('english.jpeg');
}
.depa5::before{
    background-image: url('commerce.jpg');
}
.science h1 {
    position: relative;
    color: #ffffff;  
    text-align: center;
}
.head:after{
    content: '.';
    color: transparent;
    background-color: #330072;
    height: 3px;
    width: 160px;
    margin: auto;
    display: block;   
}
.head{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin: 2rem 2rem 0 2rem;
}
.science{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
/* Course Details */

.fset{
    border-radius: 10px;
    border: 1px solid #330072;
    background-color: #e6e6fa;
    width: clamp(25rem,40rem,50rem);
    display: flex;
    justify-content: space-around;
    
}
.leg{
    margin-left: 1rem;
    padding:0.7rem 1.5rem;
    font-size: 20px;
    border-radius: 4px;
    background-color: #330072;
    color: #FCAe1e;;

}
.help-course{
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
}
.leg-dep{
    margin: 20px;
    margin-top: 10px;
}
.leg-dep ul li, .leg-master-dep ul li{
    list-style: url('/grad2.png');
    line-height: 24px;
}
.leg-master-dep{
    padding-bottom:8px ;
}
