                    * {
                        margin: 0% 0%;
                        font-family: 'Poppins', sans-serif;
                        /*#67c2cf*/
                        /*#99f5f7*/
                    }
                    /* top black banner*/
                    
                    .banner {
                        height: 80%;
                        width: 100%;
                        text-align: center;
                        background-color: black;
                        /*position: relative;
            top: 0;
            width: 100%;
            height: 80%;
            align-items: center;
            background-color: black;
            color: white;
            text-align: center;
            font-size: 34px;
            line-height: 80px;*/
                    }
                    /*.banner h1 {
            transform: translateY(200px);
        }
        
        .banner p {
            font-size: 24px;
            transform: translateY(200px);
        }*/
                    
                    .banner-text {
                        width: 80%;
                        margin: auto;
                        padding-top: 15%;
                        color: white;
                    }
                    /*top black banner for mobile view*/
                    
                    @media screen and (max-width:500px) {
                        .banner {
                            width: 100%;
                            height: 60%;
                        }
                        .banner-text {
                            width: 80%;
                            margin: auto;
                            padding-top: 30%;
                            text-align: center;
                        }
                        .back {
                            width: 80%;
                        }
                        .back button {
                            position: absolute;
                            transform: translate(-10px, -80px);
                            background-color: transparent;
                            padding: 1% 4%;
                            border-color: white;
                            border-style: solid;
                        }
                        .back button:hover {
                            background-color: #67c2cf;
                        }
                        .back a {
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                        }
                    }
                    /*backlink to the college site*/
                    
                    .back {
                        transform: translate(0px, 100px);
                    }
                    
                    .back button {
                        background-color: transparent;
                        padding: 1% 4%;
                        border-color: white;
                        border-style: solid;
                    }
                    
                    .back button:hover {
                        background-color: #67c2cf;
                    }
                    
                    .back a {
                        text-decoration: none;
                        color: white;
                        font-size: 18px;
                    }
                    /*About us region*/
                    
                    .main-x {
                        width: 80%;
                        margin: auto;
                        text-align: center;
                        padding-top: 100px;
                    }
                    
                    h1 {
                        font-size: 36px;
                        font-weight: 600;
                    }
                    
                    p {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 22px;
                        padding: 10px;
                    }
                    
                    .box {
                        margin: 5%;
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .container {
                        flex-basis: 31%;
                        border-radius: 10px;
                        padding: 20px 12px;
                        box-sizing: border-box;
                        margin-bottom: 5%;
                    }
                    
                    .container:hover {
                        box-shadow: 0 0 10px 0px black;
                    }
                    /*about us region for mobile view*/
                    
                    @media screen and (max-width:500px) {
                        .box {
                            flex-direction: column;
                        }
                    }
                    /*Facilities Region*/
                    
                    .main-y {
                        width: 80%;
                        margin: auto;
                        text-align: center;
                        padding-top: 50px;
                    }
                    
                    h1 {
                        font-size: 36px;
                        font-weight: 600;
                    }
                    
                    p {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 22px;
                        padding: 10px;
                    }
                    /*staffs region*/
                    
                    .main-z {
                        width: 80%;
                        margin: auto;
                        padding-top: 5%;
                    }
                    
                    .bars {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5%;
                        background-color: rgb(216, 216, 216);
                        border-radius: 10px;
                        margin-bottom: 5%;
                        text-align: center;
                    }
                    
                    .staff-name {
                        padding: 5% 5%;
                    }
                    /*stafss region for mobileview*/
                    
                    @media (max-width:500px) {
                        .bars {
                            flex-direction: column;
                        }
                    }
                    /*students region*/
                    
                    .main-xx {
                        margin: auto;
                        width: 80%;
                        margin-top: 10%;
                        margin-bottom: 5%;
                    }
                    
                    .barx {
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                    }
                    
                    .students-info {
                        margin-top: 10%;
                    }
                    /*students region for mobile view*/
                    
                    @media (max-width:500px) {
                        .barx {
                            flex-direction: column;
                        }
                    }
                    
                    .calc {
                        padding-top: 5%;
                        width: 80%;
                        margin: auto;
                    }
                    
                    .calbox {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }
                    
                    .calcin {
                        padding-top: 5%;
                        line-height: 50px;
                        padding-left: 5%;
                    }
                    
                    summary {
                        font-size: 24px;
                        font-weight: 600;
                    }
                    
                    h4 {
                        font-size: 18px;
                    }
                    
                    .calcbtn {
                        position: relative;
                        transform: translate(10px, -19px);
                        font-size: 20px;
                        padding: 1% 4%;
                    }
                    
                    #calcoutput {
                        resize: none;
                        padding: 1% 1%;
                        font-size: 20px;
                    }
                    
                    @media (max-width:500px) {
                        h4 {
                            font-size: 14px;
                        }
                        .calbox {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                        }
                        .calcin {
                            padding-top: 5%;
                            line-height: 50px;
                            text-align: center;
                        }
                        summary {
                            font-size: 24px;
                            font-weight: 600;
                        }
                    }
                    
                    @media (max-width:500px) {
                        .calcbtn {
                            position: relative;
                            transform: translate(5px, 22px);
                            font-size: 20px;
                            padding: 1% 1%;
                        }
                        #calcoutput {
                            position: relative;
                            transform: translate(-10px, 30px);
                            resize: none;
                            padding: 1% 1%;
                            font-size: 20px;
                        }
                    }