* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}


/* top black banner*/

.banner {
    width: 100%;
    background-color: black;
    padding-top: 10%;
    padding-bottom: 10%;
}


/*.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}*/

.banner-text {
    width: 80%;
    margin: auto;
    color: white;
    line-height: 80px;
    text-align: center;
}

.banner-text a {
    text-decoration: none;
    color: white;
    size: 20px;
    font-weight: 500;
    border: 2px solid white;
    padding: 1% 2%;
}

.banner-text a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}


/*top black banner for mobile view*/

@media (max-width:580px) {
    .banner {
        width: 100%;
        padding-bottom: 20%;
    }
    .banner-text {
        width: 80%;
        margin: auto;
        text-align: center;
        line-height: 50px;
    }
    .banner-text a {
        padding: 2% 4%;
    }
    .banner-text h1 {
        line-height: 70px;
    }
}


/*welcome txt*/

.welcome {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    margin: auto;
    text-align: center;
}

@media (max-width:580px) {
    .welcome {
        padding-top: 15%;
        padding-bottom: 2%;
    }
}


/* Description*/

.description-box {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.description-box b {
    font-size: 34px;
}


/*About us region*/

.main-x {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.box {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.container {
    flex-basis: 31%;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
}

.container h2 {
    font-size: 18px;
}

.container:hover {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
}


/*about us region for mobile view*/

@media (max-width:580px) {
    .main-x {
        margin-top: 10%;
    }
    .box {
        flex-direction: column;
        padding-top: 5%;
    }
}


/*Facilities Region*/

.main-y {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


/*staffs region*/

.main-z {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.bars {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    /*background-color: rgb(219, 219, 219);*/
    margin-bottom: 5%;
    text-align: center;
    padding: 5% 5%;
    border-radius: 10px;
}

.staff-name {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1% 2%;
    line-height: 50px;
    border-left: 10px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}


/*stafss region for mobileview*/

@media (max-width:580px) {
    .bars {
        flex-direction: column;
    }
}


/*students region*/

.main-xx {
    margin: auto;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.barx {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5% 5%;
}

.students-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
}


/*students region for mobile view*/

@media (max-width:580px) {
    .barx {
        flex-direction: column;
        padding-top: 10%;
    }
    .students-info {
        line-height: 20px;
    }
}


/*footer*/

.footer {
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 0%;
}

.footer-entry {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    padding: 5% 5%;
    padding-bottom: 2%
}

.copy-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-entry a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.footer-items {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.quick-link {
    margin-bottom: 2%;
    text-align: left;
    line-height: 50px;
}

.quick-link h5 {
    font-size: 16px;
}

.contact-us {
    text-align: left;
}

.contact-us h5 {
    font-size: 16px;
}

.contact-us p {
    line-height: 40px;
}

@media (max-width:580px) {
    .footer-entry a {
        font-size: 10px;
    }
    .contact-us p {
        font-size: 10px;
        line-height: 20px;
    }
    .contact-us h5 {
        font-size: 12px;
    }
    .quick-link h5 {
        font-size: 12px;
    }
    .copy-right p {
        font-size: 10px;
    }
}


/*event calender*/

.event-calender {
    padding-bottom: 5%;
    padding-top: 2%;
    margin-bottom: 5%;
}

.event-calender-title {
    margin: auto;
    width: 80%;
}

.event-calender-box {
    margin: auto;
    width: 80%;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    overflow: scroll;
    overflow-x: hidden;
    display: block;
    height: 100px;
    border: 1px solid black;
}

.event-entity {
    padding: 2% 1%;
    text-align: center;
}

@media (max-width:580px) {
    .event-calender-box {
        height: 80px;
        padding-top: 5%;
    }
    .event-entity {
        margin-left: 0%;
        margin-right: 0%;
    }
}


/*animation for event calender*/

@keyframes slide {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-135px);
    }
    50% {
        transform: translateY(-240px);
    }
    75% {
        transform: translateY(-360px);
    }
    100% {
        transform: translateY(0px);
    }
}


/*syllabus*/

.syllabus {
    width: 80%;
    margin: auto;
}

.syllabus-container {
    padding: 5% 5%;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.syllabus-entity {
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.syllabus-entity h5 {
    font-size: 18px;
}

.syllabus-entity a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 500;
}

@media (max-width:580px) {
    .syllabus-container {
        flex-direction: column;
    }
    .syllabus-container a {
        width: 40%;
        margin: auto
    }
}


/*calculator*/

.calculator {
    margin: auto;
    width: 80%;
    margin-bottom: 5%;
}

.calculator-body {
    padding: 4% 2%;
}

.calculator-main {
    padding: 1% 2%;
    display: flex;
    justify-content: center;
}

.calculator-container {
    padding: 5% 10%;
    line-height: 40px;
}

#calcoutputone {
    resize: none;
    padding: 5% 4%;
}

#calcoutputtwo {
    resize: none;
    padding: 4% 4%;
}

.calcbtn {
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    position: relative;
    transform: translateY(-12px);
    padding: 3% 4%;
    border-radius: 10px;
}

.calculator summary {
    font-size: 24px;
    font-weight: 700;
}

.calculator-body summary {
    font-size: 18px;
}

.calculator-container h2 {
    font-size: 18px;
}

.calculator-container h4 {
    font-size: 14px;
}

@media (max-width:580px) {
    .calculator-main {
        flex-direction: column;
    }
    .calcbtn {
        transform: translate(20px, -12px);
    }
}


/*Additional media queries*/

@media (max-width:820px) {
    .banner-text {
        padding-top: 15%;
    }
}
