.contact-us {
    padding-top: 5%;
    padding-bottom: 5%;
}

.contactarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 2%;
    color: var(--light);
}

.contact-us h1 {
    color: black;
    display: inline-block;
}

.contact-us h1:after {
    content: ".";
    color: transparent;
    height: 3px;
    width: 100%;
    background-color: var(--purple);
    display: block;
    margin: auto;
}

label {
    font-weight: 600;
}

.inputarea {
    display: flex;
    flex-direction: column;
    line-height: 0.8rem;
    margin-top: 3rem;
}

.inputarea textarea {
    padding: 3% 3%;
    resize: none;
    height: 8rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgba(51, 0, 114, 0.2);
}

.contactarea form {
    border: 1px solid black;
    padding: 5% 5%;
    background-color: white;
    border-radius: 2rem;
    width: 30rem;
    color: black;
}

.inputarea input {
    padding: 3% 3%;
    width: auto;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgba(51, 0, 114, 0.2);
}

.txtarea {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.txtarea button {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    background-color: var(--purple);
    width: 100%;
    padding: 2% 2%;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 1.5rem;
}

@media (max-width:980px) {
    .contactarea form {
        width: 15rem;
        border-radius: 1rem;
    }
    .inputarea {
        margin-top: 2rem;
    }
    .txtarea {
        margin-top: 0.5rem;
    }
}