:root {
    --dark: #FA8128;
    --light: #FCAe1e;
    --semilight: #F8D568;
    --purple: #330072;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/**********************footer-starting***************************/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    animation: slidein 2s linear;
    animation-fill-mode: both;
    background-color: black;
    color: white;
}

.footer-area {
    width: 90%;
    margin: auto;
    padding: 2% 2%;
}

.footer-area-quicklinks a {
    text-decoration: none;
    color: white;
}

.footer-links {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.footer-address p {
    line-height: 40px;
}

.quicklink-heading h1 {
    display: inline-block;
    line-height: 40px;
}

.quicklink-heading h1:after {
    content: '.';
    color: transparent;
    background-color: var(--light);
    height: 3px;
    width: 100%;
    margin: auto;
    display: block;
    transition: 0.5s;
}

.copyright {
    margin-top: 8%;
    padding: 3% 3%;
    text-align: center;
}


/*fonts size of footer*/

.footer h1 {
    font-size: 18px;
}

.footer p {
    font-size: 14px;
}

.footer a {
    font-size: 14px;
}

.footer-links span {
    font-size: 18px;
    font-weight: 500;
}


/***********************footer-ending***********************/


/***********************navbar-starting***********************/

.logo img {
    padding: 0.5rem;
    height: 5rem;
    aspect-ratio: 1;
}

nav {
    display: flex;
    align-items: center;
    background-color: #FCAe1e;
    padding: 1rem;
}

.nav-links {
    display: block;
    margin-left: 3rem;
}

.nav-links ul {
    text-decoration: none;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    text-transform: capitalize;
    padding-right: 1rem;
}

.nav-links ul li::after {
    content: "";
    height: 0.1rem;
    width: 0%;
    background-color: #330072;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
}

.clg-title a {
    text-decoration: none;
}

.clg-title {
    width: 30%;
}

.clg-title a h1 {
    color: black;
    margin-left: 0.1rem;
}

.clg-title a p {
    color: black;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

#iconbar,
#iconx {
    display: none;
    border: 0;
    background-color: transparent;
}

#iconbar img {
    height: 1.5rem;
    aspect-ratio: 1;
    background-color: transparent;
}

#iconx img {
    height: 1.5rem;
    aspect-ratio: 1;
    background-color: transparent;
}

.dropdown {
    display: none;
    position: absolute;
    padding: 1rem;
    background-color: #FCAe1e;
    animation: toggle 1s forwards;
    z-index: 900;
    line-height: 3rem;
}

.dropdown ul li {
    display: block;
}

.nav-links ul li:hover .dropdown {
    display: block;
}

@media (max-width:980px) {
    nav {
        padding: 0.5rem;
    }
    .clg-title {
        width: 70%;
    }
    .clg-title a h1 {
        font-size: 1rem;
        margin-left: 0;
    }
    .clg-title a p {
        font-size: 0.6rem;
    }
    .logo img {
        height: 3rem;
    }
    .nav-links {
        padding: 1rem;
        height: 100vh;
        width: 70vw;
        display: none;
        position: absolute;
        top: 0rem;
        right: 0rem;
        flex-direction: column;
        background-color: #F8D568;
        z-index: 1000;
        animation: toggle 1s ease;
        line-height: 2rem;
    }
    .nav-links ul {
        margin-top: 4rem;
    }
    .nav-links ul li {
        display: block;
        line-height: 4rem;
    }
    #iconbar {
        display: block;
        position: absolute;
        top: 3%;
        right: 1rem;
    }
    #iconx {
        display: block;
        float: right;
    }
    .dropdown {
        position: relative;
        padding-right: 0rem;
    }
    .dropdown ul {
        margin-top: -1rem;
    }
    .nav-links ul li:hover .dropdown {
        display: block;
    }
    @media (max-width:280px) {
        nav {
            padding: 0.1rem;
        }
        .clg-title {
            width: 65%;
        }
        .clg-title a h1 {
            font-size: 0.8rem;
            margin-left: 0;
        }
        .clg-title a p {
            font-size: 0.5rem;
        }
        #iconbar img {
            height: 1rem;
        }
        #iconbar {
            top: 2.5%;
        }
    }
}

@keyframes toggle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}


/***********************navbar-ending***********************/


/***********************description*********************/

.description {
    padding: 2% 2%;
    animation: slidein 1s linear;
}

.des-area {
    display: flex;
}

.des-area img {
    padding-top: 20%;
    height: 200px;
    width: auto;
}

.welcome-heading {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.principal-img {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.welcome-heading p {
    text-align: justify;
    margin-top: 2%;
    font-size: 16px;
    word-spacing: 5px;
}

.welcome-heading h1 {
    display: inline-block;
}

.welcome-heading h1::after {
    content: "";
    height: 3px;
    width: 0%;
    margin: auto;
    background-color: var(--purple);
    display: block;
    transition: 0.5s;
}

.welcome-heading h1:hover::after {
    width: 100%;
}

.welcome-heading .welcome-heading p {
    margin-top: 2%;
}


/**banner*/

.banner-area {
    display: flex;
    justify-content: center;
}

.banner-img {
    width: 100%;
}

.banner-img img {
    display: flex;
    width: 100%;
    background-size: cover;
}


/*************carousel-starting**************/

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.gallery h2 {
    font-size: 20px;
    font-weight: bold;
}

.gallery h2::after {
    content: '.';
    color: transparent;
    background-color: #330072;
    height: 3px;
    width: 100%;
    margin: auto;
    display: block;
    transition: 0.5s;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel {
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 10px 0px;
    background-color: #330072;
}

.carousel-indicators li {
    background-color: white;
}

.caro {
    background-color: var(--light);
    padding-top: 3%;
    padding-bottom: 2%;
}


/***************carousel-ending*/


/********************************************************/


/***********All media queries statements here************/


/********************************************************/

@media (max-width:980px) {
    /*footer*/
    .footer-address p {
        font-size: 11px;
        line-height: 30px;
    }
    .copyright p {
        font-size: 11px;
    }
    /*description*/
    .description {}
    .des-area {
        display: block;
    }
    .des-area img {
        height: auto;
        width: auto;
        padding-top: 0%;
    }
    .principal-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 2%;
    }
    .principal-img p {
        padding-top: 5%;
        font-size: 12px;
        text-align: center;
    }
    .principal-img {
        display: flex;
    }
    .welcome-heading {
        padding-top: 5%;
        width: auto;
    }
    .welcome-heading p {
        font-size: 14px;
        word-spacing: 2px;
    }
    /*banner*/
}